.custom_radio_component {
  .radio_group_container {
    list-style: none;
    margin: 0;
    padding: 0;
    .radio_item {
      display: flex;
      padding: 10px 0;
      position: relative;
      align-items: center;
      input[type=radio] {
        position: absolute;
        visibility: hidden;
      }
      .radio_label {
        z-index: 9;
        cursor: pointer;
        padding-left: 25px;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
      }
      .check {
        display: block;
        position: absolute;
        left: 0;
        border: 1px solid #1792E5;
        border-radius: 100%;
        height: 16px;
        width: 16px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
        &::before {
          display: block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 10px;
          width: 10px;
          top: 3px;
          left: 3px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }
      }
      &:hover .check {
        border: 1px solid #1272B2;
      }
    }
    input[type=radio]:checked~.check {
      border-color: #0A4166;
    }
    input[type=radio]:checked~.check::before {
      background: #0A4166;
    }
    &.linear {
      display: flex;
      .radio_item:not(:first-child) {
        margin-left: 30px;
      }
    }
  }
}